#home,
#credits{
	position: absolute;
	width: 400px;
	height: 300px;
	left: 50%;
	top: 30%;
	margin-left: -200px;
	margin-top: -150px;
	text-align: center;
	padding-bottom: 40px;
	@media screen and (max-width: 768px) {
		padding-bottom: 40px;
	}
	h1{
		font: 400 80px/50px $script;
		text-transform: lowercase;
		margin-bottom: -30px;
		z-index: 10;
		color: #FFF;
		position: relative;
		@media screen and (max-width: 768px) {
			font: 400 50px/40px $script;
		}
	}
	.olive{
		width: 280px;
		height: 280px;
		background: #6a8596 url('/images/home-olive.png') no-repeat center 60px;
		border-radius: 140px;
		position: relative;
		left: 50%;
		margin-left: -140px;
		z-index: 2;
	}
	p{
		font: 400 20px/30px $slab;
		color: #FFF;
		a{
			text-decoration: none;
			color: inherit;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			cursor: pointer;
			&:hover{
				border-bottom-color: $white;
				color: $white;
			}
			&.help{
				color: $black;
				border-bottom-color: rgba(0, 0, 0, 0.3);
				&:hover{
					color: $white;
					border-bottom-color: $white;
				}
			}
		}
		.thing{
			font-family: $sans;
			text-transform: uppercase;
			font-size: 0.7em;
			font-weight: 500;
			display: inline-block;
			letter-spacing: 0.1em;
			opacity: 0.5;
		}
		.line{
			display: block;
		}
	}
	.btn{
		color: #FFF;
		border-bottom: 0px;

		&.help{
			background-color: #2a84ff;
			margin-right: 10px;
			cursor: pointer;
		}
	}
	.guide{
		color: #FFF;
		opacity: .4;
		display: none;
		padding-bottom: 20px;
		.finger-icons{
			width: 128px;
			height: 43px;
			background: url('/images/1368170397_two_finger_horizontal_swipe.svg') no-repeat top left;
			position: relative;
			left: 50%;
			margin-left: -46px;
		}
		@media screen and (max-width: 1020px) {
			display: block;
		}
	}
}