#info{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 300;
	overflow: scroll;
	.bg{
		position: fixed;
		background-color: $black;
		opacity: .94;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
		opacity: 0;
	}
	.corner{
		position: absolute;
		top: 0px;
		right: 0px;
		border: 10px solid $black;
		border-bottom-color: rgba(0, 0, 0, .2);
		border-left-color: rgba(0, 0, 0, .2);
	}
	.document{
		position: relative;
		width: 768px;
		background-color: #FFF;
		padding: 10px;
		left: 50%;
		margin-left: -384px;
		margin-bottom: 5%;
		.close{
			position: relative;
			display: inline-block;
			width: 26px;
			height: 26px;
			background: #ce5050;
			border-radius: 15px;
			text-decoration: none;
			color: rgba(255, 255, 255, 0.4);
			text-indent: 1px;
			text-align: center;
			font: 600 20px/25px Sans-Serif;
			color: rgba(0, 0, 0, .2);
			.circular-glare{
				position: absolute;
				right: 3px;
				top: 3px;
				width: 14px;
				height: 14px;
				background-color: rgba(255, 255, 255, .14);
				border-radius: 7px;
			}
			&:hover{
				background-color: #ff662a;
			}
		}
		.content{
			padding: 0px;
			min-height: 400px;
			p:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.content{
	font: 400 16px/23px $sans;
	margin: 10px;
	h1{
		font: 400 40px/40px $script;
		border-bottom: 4px solid rgba(0, 0, 0, .1);
		padding-bottom: 10px;
		color: $black;
		margin-top:  0px;
		margin-bottom: 20px
	}
	h2{
		font: 600 16px/20px $sans;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 1px solid #6f785b;
		margin-top: 0px;
		.text{
			display: inline-block;
			background-color: #6f785b;
			padding: 4px 8px;
			color: #FFF;
		}
	}
	p{
		margin-right: 40px;
	}
}

.graphics{
	clear: both;
}

.infographic{
	width: 50%;
	float: left;
	margin-bottom: 40px;
	position: relative;
	&.has-pie{
		top: -10px;
	}
	.number{
		display: inline-block;
		color: #FFF;
		background-color: #000000;
		padding: 3px;
		position: relative;
		top: 3px;
		border-radius: 4px;
		font: 500 24px/40px $sans;
		margin-bottom: 10px;
		.digit{
			display: inline-block;
			width: 1.1em;
			text-align: center;
			background-color: #3e3e3e;
			margin-right: 2px;
			border-radius: 4px;
			position: relative;
			overflow: hidden;
			.glare{
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 50%;
				background-color: rgba(255, 255, 255, .2);
			}
			.value{
				position: relative;
				top: 0px;
				left: 0px;
				right: 0px;
				width: 1.1em;
				text-align: center;
			}
			&:last-child{
				margin-right: 0px;
			}
		}
	}
	.pie-graph{
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: $red;
		position: relative;
		top: 13px;
		left: 13px;
		path.non-chance{
			fill: #d4d6cd;
		}
		path.chance{
			fill: #6f785b;
		}
	}
	.icon{
		display: inline-block;
		font-size: 30px;
		position: relative;
		top: 6px;
		color: #6f785b;
		left: 6px;
	}
	.what{
		font: 600 25px/30px $sans;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 3px;
	}
	.extra{
		font-size: 14px;
		letter-spacing: 1px;
		color: #6f785b;
		font-family: $slab;
	}
	&.place{
		position: relative;
		.what,
		.extra{
			margin-left: 30px;
		}
		.gold-star{
			position: absolute;
			width: 50px;
			height: 50px;
			left: -25px;
			top: -24px;
			border-radius: 25px;
			background-color: #ffd926;
			text-align: center;
			font: 600 30px/54px $script;
			z-index: 10;
			.glare{
				position: absolute;
				width: 24px;
				height: 24px;
				border-radius: 12px;
				background-color: rgba(255, 255, 255, .4);
				right: 6px;
				top: 6px;
			}
		}
		.sign{
			height: 46px;
			background-color: #3c6ce6;
			display: inline-block;
			padding-left: 36px;
			padding-right: 36px;
			overflow: hidden;
			position: relative;
			-webkit-border-top-right-radius: 23px;
			-webkit-border-bottom-right-radius: 23px;
			-moz-border-radius-topright: 23px;
			-moz-border-radius-bottomright: 23px;
			border-top-right-radius: 23px;
			border-bottom-right-radius: 23px;
			margin-bottom: 10px;
			font: 300 30px/42px $slab;
			color: #FFF;
			.glare{
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 50%;
				background-color: rgba(255, 255, 255, .2);
			}
		}
		.pole{
			position: absolute;
			left: 0px;
			width: 15px;
			bottom: 5px;
			top: 46px;
			background-color: #664c37;
			.shadow{
				position: relative;
				background-color: rgba(0, 0, 0, .2);
				height: 10px;
			}
		}
	}
	&:last-child{

	}
}

.sources{
	margin-top: 40px;
	opacity: .3;
	h4{
		margin: 0px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font: 600 14px/20px $sans;
		margin-bottom: 5px;
	}
	p{
		margin: 0px;
		font: 400 13px/20px $slab;
	}
	a{
		color: $green;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	&:hover{
		opacity: 1;
	}
}