#js-visualisation-container{
  .inner-container{
    margin: 20px;
    color: $black;
  }
  .nz-map{
    background-color: #d7e8ee;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
  }
  #js-new-zealand-svg{
    width: 340px;
    height: 350px;
    g path{
      stroke-width: 2px;
      stroke: #d7e8ee;
      fill : #72c366;

      &.hovering{
        fill: $green;
        stroke: $green;
        cursor: pointer;
      }
      
      &.selected{
        fill: #777;
      }
    }
    g line{
      stroke-width: 1px;
      stroke: black;
      fill: none;
    }
  }
  #js-new-zealand-legend{
    width: 374px;
    height: 350px;
    float: right;

    .legend-colour{
      width: 10px;
      height: 10px;
      float: left;
    }
    .legend-title{
      float: right;
    }
  }
  #js-ufo-sightings{
    table tbody td a{
      text-decoration: underline;
      &:hover{
        cursor: pointer;
      }
    }
  }
  #js-globe-container{
    .stroke{
      fill: none;
      stroke: #000;
      stroke-width: 3px;
    }
    .fill{
      fill: #fff;
    }
    .graticule{
      fill: none;
      stroke: #777;
      stroke-width: .5px;
      stroke-opacity: .5;
    }
    .land{
      fill: #222;
    }
    .boundary{
      fill: none;
      stroke: #fff;
      stroke-width: .5px;
    }
  }
  #js-city-line-chart{
    text{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    g.tick{
      line{
        stroke: #000;
        fill: #000;
        stroke-width: 1px;
      }
    }
    text.vertical-hint{
      z-index: 100;
      background-color: #FFF;
      color: #FF3300;
    }
    path.domain{
      fill: none;
      stroke: #AAA;
      stroke-width: 1px;
    }
    path.hovering{
      stroke-width: 3px;
    }
  }
}
  