#js-visualisation-container
  background: #2c2e29
  width: 768px
  position: absolute
  top: 0
  left: 50%
  margin-left: -384px

  .inner-container
    margin: 20px
    color: white

  svg
    width: 100%
    background-color: white
    height: 400px

    g path
      stroke-width: 1px
      stroke: #00c12b


    g line
      stroke-width: 1px
      stroke: black
      fill: none