#js-visualisation-container{
  .inner-container{
    margin: 20px;
    color: $black;
  }
  .map-container{
    background-color: #d7e8ee;
    border-radius: 10px;
  }
  .nz-map{
    background-color: #d7e8ee;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    float: left;
  }
  #js-new-zealand-svg{
    width: 340px;
    height: 350px;
    g path{
      stroke-width: 2px;
      fill : #72c366;
      stroke: #d7e8ee;

      &.hovering{
        fill: $black;
        cursor: pointer;
      }
      
      &.selected{
        fill: #3c6ce6;
      }
    }
    g line{
      stroke-width: 1px;
      stroke: black;
      fill: none;
    }
  }
  #js-new-zealand-legend{
    width: 370px;
    height: 350px;
    margin-top: 20px;
    float: right;
    .city-legend{
      margin-bottom: 10px;
    }
    .city-name{
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }
    .extra{
      font-family: $slab;
      font-size: 14px;
      letter-spacing: 1px;
      color: #888;
    }
    .legend-colour{
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 5px;
      margin-right: 10px;
    }
    .legend-title{
      float: right;
    }
  }
  #js-ufo-sightings{
    table tbody td a{
      text-decoration: underline;
      &:hover{
        cursor: pointer;
      }
    }
  }
  #js-globe-container{
    margin-left: 30px;
    .stroke{
      fill: none;
      stroke: #000;
    }
    .fill{
      fill: #d7e8ee;
    }
    .graticule{
      fill: none;
    }
    .land{
      fill : #72c366;
    }
    .boundary{
      fill: none;
    }
  }
  #js-city-line-chart{
    text{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    g.tick{
      line{
        stroke: #000;
        fill: #000;
        stroke-width: 1px;
      }
    }
    text.vertical-hint{
      z-index: 100;
      background-color: #FFF;
      color: #FF3300;
    }
    path.domain{
      fill: none;
      stroke: #AAA;
      stroke-width: 1px;
    }
    path.hovering{
      stroke-width: 3px;
    }
  }
}

table{
  font-size: 13px;
  width: 100%;
  margin-bottom: 20px;
  tr{
    border-bottom: 1px solid #EEE;
  }
  thead{

  }
  td,
  th{
    text-align: left !important;
    vertical-align: top;
    padding: 5px;
    border-right: 1px solid #EEE;
    &:last-child{
      border-right: 0px;
    }
  }
  th{
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
  