#js-visualisation-container{
  .inner-container{
    margin: 20px;
    color: $black;
  }
  .nz-map{
    background-color: #d7e8ee;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
  }
  #js-new-zealand-svg{
    width: 340px;
    height: 350px;
    g path{
      stroke-width: 2px;
      stroke: #d7e8ee;
      fill : #72c366;

      &.hovering{
        fill: $green;
        stroke: $green;
        cursor: pointer;
      }
      
      &.selected{
        fill: #777;
      }
    }
    g line{
      stroke-width: 1px;
      stroke: black;
      fill: none;
    }
  }
  #js-ufo-sightings{
    table tbody td a{
      text-decoration: underline;
      &:hover{
        cursor: pointer;
      }
    }
  }
  #js-globe-container{
    .stroke{
      fill: none;
      stroke: #000;
      stroke-width: 3px;
    }
    .fill{
      fill: #fff;
    }
    .graticule{
      fill: none;
      stroke: #777;
      stroke-width: .5px;
      stroke-opacity: .5;
    }
    .land{
      fill: #222;
    }
    .boundary{
      fill: none;
      stroke: #fff;
      stroke-width: .5px;
    }
  }
}
  