@font-face {
	font-family: 'Fitigraf S';
	src: url('/webfonts/fitigraf-s.eot');
	src: url('/webfonts/fitigraf-s.eot?#iefix') format('embedded-opentype'),
	     url('/webfonts/fitigraf-s.woff') format('woff'),
	     url('/webfonts/fitigraf-s.ttf') format('truetype'),
	     url('/webfonts/fitigraf-s.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@import 'normalize.scss/_normalize';

$slab: "jubilat", "Times New Roman", Serif;
$sans: "omnes-pro", "Helvetica Neue", Serif;
$script: "Fitigraf S";

$black: #413d31;
$white: #FFF;
$green: #6f785b;
$blue: #2a84ff;
$red: #ce5050;

html, body{
	font-family: $slab;
	background-color: $green;
	color: $black;
}

.hidden{
	display: none;
}

.clearfix{
	clear: both;
}

@import "_ui-elements";
@import "_visualisations";
@import "_layout.scss";
@import "_home.scss";
@import "_info.scss";
@import "_story-text.scss";