!!! 5
%html
  %head
    %title What Happened?
    %meta{charset : "utf-8"}/
    %meta{content : "IE=edge,chrome=1", http-equiv : "X-UA-Compatible"}/
    %meta{content : "Title of What Happened to go here", name : "description"}/
    %meta{name : "viewport", content : "width=device-width", initial-scale : '1', maximum-scale : '1'}/

    %link{href : "fontello/css/fontello.css", rel : "stylesheet"}/
    %link{href : "styles/main.css", rel : "stylesheet"}/

    %script{src : "components/modernizr/modernizr.js"}/
  %body
    #preloader
      .spinner
        .icon-cw-circled.animate-spin
        .circular-glare
    .container
      .page

    #js-visualisation-container.hidden


      

    %script{data-main : "scripts/main", src : "components/requirejs/require.js"}/

    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'mxw4ndp',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16838600-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>