@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?50892363');
  src: url('../font/fontello.eot?50892363#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?50892363') format('woff'),
       url('../font/fontello.ttf?50892363') format('truetype'),
       url('../font/fontello.svg?50892363#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50892363#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\2190'; } /* '←' */
.icon-left-1:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-right-1:before { content: '\e801'; } /* '' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-cw-circled:before { content: '\e04a'; } /* '' */
.icon-article-alt:before { content: '\e735'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-doc:before { content: '📄'; } /* '\1f4c4' */