%h1 The Long White Cloud

%p.intro
  Sunshine hours are relatively high in areas that are sheltered from the west. The most amount of sun in one year goes to Nelson, having 2,711 hours in 1931, and the lowest goes to Invercargil, having only 1,333 hours of sun in 1983.

.graphics
  .infographic
    .number
      2010
    .icon.icon-sun
    .what
      hours of sun
    .extra
      Per year on average

  .infographic.place
    .gold-star
      \#1
      .glare
    .sign
      Nelson
      .glare
    .pole
      .shadow
    .what
      2711 hours of sun
    .extra
      In 1931, almost 1300 hours more than the Chatham Islands

.clearfix

%h2
  %span.text
    Sunshine by region

.nz-map
  %svg#js-new-zealand-svg
#js-new-zealand-legend
  .map-region-prompt
    <i class="icon-left"></i> Select a region 

.clearfix

#js-city-line-chart

%p.outro
  The above information has been based off mean monthly values of sunshine hours for the 1981-2010 period for locations having at least 5 complete years of data.

.sources
  %h4
    %span.text
      Sources
  %p
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/sunshine"} niwa.co.nz/education-and-training/schools/resources/climate/sunshine
    %br
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/extreme"} niwa.co.nz/education-and-training/schools/resources/climate/extreme
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/overview"} niwa.co.nz/education-and-training/schools/resources/climate/overview