%h1 The Long White Cloud

.graphics
  .infographic
    .number
      119
    .icon.icon-rain
    .what
      rainy days
    .extra
      Per year on average

  .infographic.has-pie
    .number
      28%
    .pie-graph
    .what
      chance of rain
    .extra
      On a summers day

  .infographic
    .number
      2010
    .icon.icon-sun
    .what
      hours of sun
    .extra
      Per year on average

  .infographic.has-pie
    .number
      37%
    .pie-graph
    .what
      chance of rain
    .extra
      On a winters day

.clearfix

%h2
  %span.text
    Sunshine by region

%svg#js-new-zealand-svg

#js-city-line-chart