#home 
  %h1 What <br />Happened?
  .olive
  %p Writen by Sadaf Lourie <br />& illustrated by Riccardo Scott.
  %p
    <a href="#/page/1" class="btn">Lets Go!<span class="glare"></span></a>
%a.pagination.arrow.right{href: "#/page/1"}
  .icon-right-open