#home 
  %h1 What <br />Happened?
  .olive
  %p Writen by Sadaf Lourie <br />& illustrated by Riccardo Scott.
  %p
    %a{href : "", class : "btn help data-marker", data-id : "help"}
      What is this?
      <span class="glare"></span></a>
    <a href="#/page/1" class="btn">Lets Go!<span class="glare"></span></a>
%a.pagination.arrow.right{href: "#/page/1"}
  .icon-right-open

#info.hidden
  .bg
  .document
    %a.close{href : "#"} ×
    .circular-glare
    .corner
    #js-visualisation-container.content
      %h1 What Happened?
      %p.intro
        Welcome to "What Happened?"     
      %h2 
        %span.text
          More about Data Visualisation