%h1
  Shooting Stars

%p
  A falling star or shooting star is the common name for the visible path of a meteoroid as it enters the atmosphere to become a meteor. If a falling star survives impact with the Earth's surface, then it is called a meteorite.

%h2
  %span.text
    Yearly Meteorite Recordings

.graphics
  .infographic#js-meteors-graphic
    .number#js-current-year
      1332
    %i.icon-calendar.icon
    .what
      <span id="js-total-hits">1</span> Recorded
    .extra#js-meteorites-plural
      Meteorite
      

  .infographic.place#js-place-graphic
    .gold-star
      \#1
      .glare
    .sign
      <span id="js-place">Birgi</span>
      .glare
    .pole
      .shadow
    .what
      Biggest Meteorite
    .extra#js-weight
      %span#js-weight
        50,800
      &nbsp;grams

.clearfix


%input{id:"js-range-slider", step:"1", value:"0", min:"0", max:"246"}
.clearfix


.map-container
  #js-globe-container

%p.outro
  The data used above only shows meteorites larger than 1000 grams, it's sourced from the Meteocritical Society and doesn't show those places where meteorites may have fallen but not been discovered.

.sources
  %h4
    %span.text
      Sources
  %p
    %a{href: "http://www.teara.govt.nz/en/meteorites"}teara.govt.nz/en/meteorites
    %br
    %a{href: "http://en.wikipedia.org/wiki/Meteorite"}en.wikipedia.org/wiki/Meteorite
    %br
    %a{href: "http://en.wikipedia.org/wiki/Falling_star_(disambiguation)"}en.wikipedia.org/wiki/Falling_star_(disambiguation)
    %br
    %a{href: "https://www.google.com/fusiontables/DataSource?docid=1vHSvjNgCIl6kRhFXPHhvESnnYx_ShToJWtWdjm8#rows:id=1"}google.com/fusiontables/DataSource?docid=1vHSvjNgCIl6kRhFXPHhvESnnYx_ShToJWtWdjm8

