%h1
  Rain by the bucketful
%p.introduction
  Most areas of New Zealand have between 600 and 1600 mm of rainfall, spread throughout the year with a dry period during the summer. Over the northern and central areas of New Zealand more rainfall falls in winter than in summer, whereas for much of the southern part of New Zealand, winter is the season of least rainfall.

.graphics
  .infographic
    .number
      1300mm
    .icon.icon-rain
    .what
      Of Rainfall
    .extra
      Average per year

  .infographic.place
    .gold-star
      \#1
      .glare
    .sign
      Milford Sound
      .glare
    .pole
      .shadow
    .what
      6715 mm of rain
    .extra
      That's 5x the nation's average 
      %br
      %i (the records go off the chart!)

.clearfix

%h2
  %span.text
    Rainfall by Region

.nz-map
  %svg#js-new-zealand-svg

#js-new-zealand-legend
  .map-region-prompt
    <i class="icon-left"></i> Select a region 

#js-city-line-chart

%p.outro
  The above information has been based off mean monthly values of rainfall for the 1981-2010 period for locations having at least 5 complete years of data.

.sources
  %h4
    %span.text
      Sources
  %p
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/meanrain"}niwa.co.nz/education-and-training/schools/resources/climate/meanrain
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/overview"}niwa.co.nz/education-and-training/schools/resources/climate/overview