.inner-container
  %h1
    Clouds &amp; Unidentified Flying Objects

  %p
    There were 87 confirmed UFO sightings in New Zealand during 2012, 40% of which were reported in Auckland. As a side, Methamphetamine and Opiates are both purer and cheaper in Auckland compared to Wellington and Christchurch.

  %h2
    Please select a region for additional information:

  %svg#js-clouds-svg