.inner-container
  %h1
    Clouds &amp; Unidentified Flying Objects

  %p
    There were 87 confirmed UFO sightings in New Zealand during 2012, 40% of which were reported in Auckland. As a side, Methamphetamine and Opiates are both purer and cheaper in Auckland compared to Wellington and Christchurch.

  %p
    Over a ten year period New Zealand, on average, receives 119 days of rain per year, when broken down even further there's a 28% chance of rain on a summers day and and a 37% chance of rain on a winters day. Though on a brighter note, New Zealand receives on average 2010 hours of sunshine per year, which should be ample time to get your dose of Vitamin D. 

  %h3
    Please select a region for additional information:

  %svg#js-new-zealand-svg

  #js-ufo-sightings


  %p
    http://www.ndp.govt.nz/moh.nsf/pagescm/7515/$File/trends-in-drug-use-in-akld-wgtn-chch.pdf
    http://www.ufocusnz.org.nz/content/New-Zealand-UFO-Sightings-2012/133.aspx
    http://www.niwa.co.nz/education-and-training/schools/resources/climate/wetdays
    http://www.niwa.co.nz/education-and-training/schools/resources/climate/sunshine