%h1
  Unidentified Flying Objects

%p.introduction
  Although the New Zealand Defence Force does not take an official interest in UFO reports, in December 2010 it released previously secret files on hundreds of purported UFO reports. The most widely reported incident, and the only one investigated, involved the Kaikoura lights seen by a pilot in 1978. 

.graphics
  .infographic
    .number
      87
    .what
      Sightings
    .extra
      In 2012

  .infographic.place
    .gold-star
      \#1
      .glare
    .sign
      Tauranga
      .glare
    .pole
      .shadow
    .what
      For UFO sightings
    .extra
      In 2012, per capita

.clearfix

%h2
  %span.text
    UFO Sightings by region


.nz-map
  %svg#js-new-zealand-svg

#js-new-zealand-legend
  .map-region-prompt
    <i class="icon-left"></i> Select a region 


.clearfix

#js-ufo-sightings
  %h2.heading
  %p.description
  %table.table.hidden
    %thead
      %tr
        %th
          Time
        %th
          Location
        %th
          Event
        %th
          &nbsp;
    %tbody

%p.outro
  The above data was sourced from ufocusnz.org and are personal sightings from individual reports. All reports are copyrighted to UFOCUS NZ.

.sources
  %h4
    %span.text
      Sources
  %p
    %a{href : "http://www.ufocusnz.org.nz/content/New-Zealand-UFO-Sightings-2012/133.aspx"} ufocusnz.org.nz/content/New-Zealand-UFO-Sightings-2012/133.aspx
    %br