%h1
  Yet another rainy day
%p
  Over the northern and central areas of New Zealand more rainfall falls in winter than in summer, dramatically increasing the amount of wet days per month, whereas for much of the southern part of New Zealand, winter is the season of least rainfall and the amount of wet days per month remain relatively constant throughout the year.

.graphics
  .infographic
    .number
      119
    .icon.icon-rain
    .what
      rainy days
    .extra
      Per year on average across NZ

  .infographic
    .number
      2½
    .icon.icon-rain
    .what
      days of rain
    .extra
      on average during October in Alexandra

%h2
  %span.text
    Wet days by Region

.nz-map
  %svg#js-new-zealand-svg

#js-new-zealand-legend
  .map-region-prompt
    <i class="icon-left"></i> Select a region 


#js-city-line-chart

%p.outro
The above information has been based off mean monthly values of rainy days for the 1981-2010 period for locations having at least 5 complete years of data.

.sources
  %h4
    %span.text
      Sources
  %p
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/wetdays"}niwa.co.nz/education-and-training/schools/resources/climate/wetdays
    %br
    %a{href : "http://www.niwa.co.nz/education-and-training/schools/resources/climate/overview"}niwa.co.nz/education-and-training/schools/resources/climate/overview